@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("normalize.css");
@import url("reset.css");

:root {
  --font-size: 16px;
  --black: #000;
  --white: #fff;
}


body {font-family: 'SUIT', sans-serif;}
h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'SUIT', sans-serif;
}
