@charset "utf-8";

input[type=text].couponC {
	width: 414px;
	background:url('/clean_kangaroo/images/date.png') no-repeat 6px 6px;
	background-size:26px;
	background-position: 280px;
	border: var(--bs-border-width) solid var(--bs-border-color);
}
.board_container .board_category {
	justify-content: flex-end;
	gap:30px;
}
form, .nav_wrap { position: relative; }
.couponSvg img {
	width: 20px;
	height: 20px;
	margin-right: 30px;
}
.coupon_1 {
	height:355px;
	justify-content: center;
	align-items: center;
	margin-bottom: 168px;
	gap: 80px;
}
.couponimg {
	position: relative;
	width: 40%;
	height: 100%;
	text-align: center;
	border: 1px solid #bdbdbd;
  border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}
input#profile {
	position: absolute;
	top: 300px;
	left: 25%;
}
.preview img {
	width: 200px;
}
.coupon_area {
	width: 60%;
	gap: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.cDates {
	gap: 68px;
}
.couponC {
	height:40px;
	border-radius: 6px;
}
.coupon_2 {
	justify-content: space-between;
	gap: 88px;
}
.c2form {
	width: 482px;
}
button.couponbtn {
	position: absolute;
	right: 140px;
	margin: 20px 0;
}
.couponbtn:last-child {
	position: absolute;
	right: 0;
	margin: 20px 0;
}
