h3 {
  text-align: center;
  font-size: 36px;
  margin: 60px auto;
}

p {
  font-size: 16px;
}

.lecture_up {
  margin: 60px 15%;
}

.category {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin-bottom: 16px;
}
#datepicker1{
  border: var(--bs-border-width) solid var(--bs-border-color)};

#floatingInput_price {
  position: relative;
}

#floatingInput_price span {
  position: absolute;
  right: 10px;
}

#floatingTextarea {
  height: 200px;
}

.image_preview {
  width: 200px;
  height: 120px;
  background-color: aqua;
  position: relative;
}

.info li{
object-fit: cover;
}

.preview.primary_btn {
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 2%;
  height: 12px;
  line-height: 0;
}

.date_select {
  display: flex;
  justify-content: space-between;
}
.c2form.price{
  width: 330px;
  margin-bottom: 1rem;
}

.view_status {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.period{
  margin: 1rem auto;
}

.form-label {
  margin: 1.5rem 0 0.5rem;
}

.form-label.ca{
  margin: 10px  0 60px !important;
}
.form-label.price{
  padding: 10px 0 !important;
}

.form-floating.mb-3 {
  position: relative;
}

.won {
  position: absolute;
  top: 20px;
  right: 15px;
}

#datepicker {
  width: 180px;
  margin: 0 20px 20px 20px;
}

#datepicker>span:hover {
  cursor: pointer;
}

.answer_wrap {
  margin: 60px auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inner_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.info {
  width: 80%;
}

.content {
  width: 120%;
}

.svg_wrap {
  display: flex;
  gap: 20px;
}


.lecdesc {
  margin-left: 25px;
  text-align: left;
}

.board_container {
  margin: 60px 5%;
}

.rel_date,
.sub_p {
  color: brown;
  font-weight: bold;
}
.partview{
  font-weight: bold;
}
.nottoshow {
  font-weight: bold;
  color: grey;
}
.w{
  margin-top: 20px;
  margin-bottom: 60px;
}
.pb-5 {
padding-bottom: 0 !important;
}
.btn_collect {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
}


.nav_wrap {
  padding-top: 60px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.pagination{
  padding-left: 400px;
}

.lectureSvg img {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}