@charset "utf-8";
*, body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
footer {
  width: 100%;
  background: var(--C-black, #000);
}
.u_footer_wrap {
  justify-content: space-between;
  padding: 46px 0;
}
footer h2 a {
  display: inline-block;
  width: 287px;
  height: 74px;
  text-indent: -9999em;
  background: url('../../images/user_footerlogo.png') no-repeat;
}
.usdergrid .u_footer_wrap ul {
  flex-wrap: wrap;
  width: 543px;
}
footer ul li, p {
  color: var(--C-white, #fff);
}
footer p strong {
  width: 164px;
  color: var(--C-primary);
}