@charset "utf-8";
*, body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
footer {
  width: 100%;
  background: var(--C-black, #000);
}
.u_footer_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 112px;
  padding: 46px 0;
}
footer h2 a {
  display: inline-block;
  width: 287px;
  height: 74px;
  text-indent: -9999em;
  background: url('../../images/user_footerlogo.png') no-repeat;
}
.usdergrid .u_footer_wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
footer ul li, p {
  color: var(--C-white, #fff);
}