.mypage_wrap {
    padding: 100px 0 60px 0;
    gap: 100px;
}
.mypage_common {
    position: sticky;
    top: 100px;
    align-self: flex-start;
}
.mypage_menu {
    padding-top: 30px;
}
.mypage_menu .menu {
    gap: 15px;
}
.mypage_menu li a {
    width: 208px;
}
.mypage_pager {
    padding-bottom: 60px;
    padding-top: 0;
}

/* 강의 */
.my_lecture h2,
.my_coupon h2,
.my_review h2,
.my_qna h2 {
    padding-bottom: 20px;
}
.my_lecture #search_keyword,
.my_coupon #search_keyword{
    width: 728px;
    border: 1px solid #BDBDBD;
    margin-bottom: 30px;
}
.my_lecture button {
    position: absolute;
    right: 100px;
    top: 53px;
}

/* 쿠폰 */
.cart_coupon {
    padding-left: 40px;
    padding-top: 10px;
}
.my_coupon .cart_ct {
    height: 178px;
}
.my_coupon .cart_ct img {
    height: 80px;
    margin-top: 20px;
}
.mypage_ct .qna_table thead tr {
    justify-content: space-between;
    padding: 0 65px;
}
.mypage_ct .qna_table tbody tr{
    justify-content: space-between;
    padding: 0 54px;
}
.qna_table thead tr .hidden {
    padding: 0 35px;
}
.coupon_ct +.coupon_ct {
    padding: 5px 0;
}
.coupon_search_wrap,
.lecture_search_wrap {
    position: relative;
}
.my_coupon button,
.my_lecture button {
    position: absolute;
    right: 15px;
    top: 6px;
}

/* 수강평 */
.my_review,
.my_qna {
    width: 838px;
}
.review_table thead
.qna_table thead {
    position: relative;
}
.review_table thead tr th,
.qna_table thead tr th {
    padding: 15px 0;
}
.review_table thead:after,
.qna_table thead:after {
    content: '';
    position: absolute;
    width: 837px;
    height: 1px;
    background: #BDBDBD;
}
.my_review .mypage_ct,
.my_qna .mypage_ct {
    width: 838px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}
.review_table tbody tr td,
.qna_table tbody tr td  {
    padding: 30px 0;

}
.review_tit {
    width: 170px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.review_table thead tr,
.review_table tbody tr,
.qna_table thead tr,
.qna_table tbody tr{
    width: 838px;
    position: relative;
    justify-content: space-around;
}
.review_table tbody tr + tr:after,
.qna_table tbody tr + tr:after {
    content: '';
    position: absolute;
    left: 26px;
    top: 0;
    width: 778px;
    height: 1px;
    background: #BDBDBD;
}
.review_table tbody tr .edit,
.review_table tbody tr .del,
.qna_table tbody tr .edit,
.qna_table tbody tr .del  {
    width: 60px;
    height: 40px;
    padding: 0;
}
.nav_wrap .review,
.nav_wrap .qna  {
    padding-left: 685px;
}
.secondary_btn.edit {
    line-height: 40px;
    vertical-align: baseline;
}

/* 질문 */