h2 {
  font-family: 'DungGeunMo';
  color: var(--C-primary);
  font-size: 48px;
}
.bx-wrapper {
  box-shadow: none;
}


/* 미니 카트 */
.min_cart_wrap {
  display: none;
  position: absolute;
  right: 80px;
  top: 75px;
  width: 300px;
  height: 155px;
  border: 1px solid var(--C-gray);
  box-shadow: 3px 3px 4px rgba(150, 150, 150, 0.25);
  z-index: 100;
  border-radius: 10px;
  padding: 30px 24px;
  background: var(--C-white);
}
.min_cart + .min_cart {
  padding-top: 20px;
}
.min_cart_img {
  width: 90px;
  height: 67px;
}
.min_cart_ct {
  height: 67px;
  padding: 5px 0 0 5px;
}
.min_cart_price {
  color: var(--C-primary);
  display: block;
  padding-top: 5px;
}
/*********** 미니 카트 */


  /*back to top - 선진 */
  .back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: var(--C-primary);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  .back-to-top.qna{
    background-color: var(--C-secondary);
    bottom: 98px;
    padding:0;
    text-align: center;

  }
  .back-to-top.qna span{
    font-size: 24px;
    line-height: 70px;
    text-align: center;
    vertical-align: inherit;
  }
  .back-to-top span{
    font-size: 50px;
    color: #fff;
  }
  /************* back to top - 선진 */