/* 메인배너 - 다영 */
.main_banner {
  margin-top: 70px;
}
/********** 메인배너 - 다영 */

/* 수강평 - 다영 */
.main_review {
  height: 780px;
}
.main_review .user_review {
  background: #efefef;
}
.main_review h2 {
  font-family: 'DungGeunMo';
  font-size: 140px;
  color: var(--C-primary);
}
/*********** 수강평 - 다영 */