@charset "utf-8";

.user_subevent_title {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin:70px 0;
}
.user_subevent_title h2 {
  font-family: 'SUIT';
  text-transform: uppercase;
}
.event_btn {
  display: block;
  width: 100%;
  padding: 11px 0;
  text-align: center;
  border-radius: 50px;
  background: var(--C-primary, #14C4BE);
  transition: 0.2s;
}
.event_btn:hover{
  background: var(--C-hover);
  /* color:var(--C-white, #fff); */
}