main {
  background: #282828;

}
.lecture_detail {
  color: var(--C-white);
  padding-top: 170px;
}
.lecture_detail h2{
  font-family: 'SUIT', sans-serif;
  text-align: center;
  font-weight: 500;
}
.lecture_detail strong {
  padding-bottom: 40px;
}
.lecture_detail .sub_tit {
  color: var(--C-primary);
  font-family: 'DungGeunMo';
  font-weight: 500;
  text-align: center;
  display: block;
}
.lecture_detail img {
  width: 525px;
  display: block;
  margin: 0 auto;
}
.lecture_content_wrap {
  gap: 48px;
  padding: 100px 0 170px 0;
}
.lecture_content {
  width: 350px;
  border: 2px solid var(--C-white);
  border-radius: 20px;
  padding: 30px;
  background: rgba(0, 73, 71, 0.3);
  
}
.lec_group {
  width: 135px;
  border: 2px solid var(--C-white);
  padding: 10px 15px;
  border-radius: 10px;
  gap: 27px;
  position: relative;
}
.lec_group:after {
  content: '';
  position: absolute;
  width: 67px;
  height: 54px;
  height: 50px;
  right: 50%;
  background: var(--C-primary);
  border-left: 2px solid var(--C-white);
  border-right: 2px solid var(--C-white);
  border-radius: 10px 0 0 10px;
}
.lec_group em {
  position: relative;
  z-index: 1;
}
.lecture_content .detail {
  gap: 10px;
  padding: 30px 0;
}
.lecture_content button,
.lecture_content a {
  width: 140px;
  border-radius: 20px;
}
.lec_btn {
  gap: 15px;
}
.lecture_system_wrap {
  gap: 30px;
}
.lecture_system_wrap +.lecture_system_wrap  {
  padding-top: 40px;
  padding-bottom: 100px;
}
.lecture_system {
  width: 593px;
  background: var(--C-white);
  padding: 30px 40px;
  border-radius: 20px;
}
.system_tit_wrap{
  gap: 20px;
  padding-top: 10px;
}
.system_tit_wrap p {
  width: 275px;
}
.lecture_system em {
  width: 75px;
  padding: 5px 13px;
  background: var(--C-secondary);
  border-radius: 10px;
}
.lecture_system strong {
  color: var(--C-black);
}
.lecture_system p {
  color: #777;
}
.lecture_system .strong {
  color: var(--C-secondary);
}
.lecture_system img {
  width: 220px;
  height: 235px;
  margin: 0;
}





.lecture_cur  {
  background: var(--C-white);
}
.lecture_cur h2 {
  color: var(--C-black);
  font-family: 'SUIT', sans-serif;
}
.cur_tit {
  justify-content: space-between;
  padding: 0 56px; 
  padding: 90px 60px 70px 60px; 
}
.lec_cur_pager {
  gap: 20px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 30px 40px 50px 40px;
}
.lec_cur_wrap {
  justify-content: space-around;
}
.lec_cur_slide {
  width: 486px;
  border: 1px solid var(--C-primary);
  border-radius: 15px;
}
.lec_cur_slide ul {
  padding: 30px 138px 30px 40px;
}
.lec_cur_slide em {
  display: block;
  width: 486px;
  background: var(--C-primary);
  padding: 15px 50px;
  color: var(--C-white);
  text-align: center;
  border-radius: 15px 15px 0 0;
}
.lec_cur_slide li span + span {
  padding-top: 5px;
}

.bx-controls-direction {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.bx-prev {
  display: block;
  background: url(/images/navi_arrow.png) no-repeat 50% 50%;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: absolute;
  left: 0;
  top: 155px;
}
.bx-next {
  display: block;
  background: url(/images/navi_arrow.png) no-repeat 50% 50%;
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  top: 155px;
}
.bx-pager{
  display: flex;
  gap: 20px;
}
.lec_cur_pager li {
  background: url(/images/pager_star.svg) no-repeat 100% 100%;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
}
.lec_cur_pager li span {
  display: block;
  padding-top: 5px;
}