/* 메인배너, 카운트다운 - 다영 */
.main_banner {
  position:relative;
}
.main_count {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}
.user_count {
  justify-content: space-between;
}
/********** 메인배너, 카운트다운 - 다영 */


/* 강좌소개 -선진 */
.main_lecture h2{
  padding-top: 80px;
  text-align: center;
  }
  .lec{
    gap:27px;
    justify-content: center;
    align-items: center;
  }
  
  .lec_cate{
  width: 206px;
  height: 46px;
  background-color: #777777;
  color:white;
  border-radius: 10px;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  margin:54px 0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }
  .lec_cate.active{
    background-color: var(--C-primary);
    cursor: pointer;
  }
  
  .lec_wrapper {
    justify-content: center;
    align-items: center;
    font-size: var(--body-sl);
    margin:0 auto;
  }
  
  
  .lec_container ul{
    height: 284px;
  }
  
  .lec_container ul li:first-child img{
    width: 282px;
    height: 180px;
    border-radius: 20px;
    background: gray;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px;
  }
  .lec_wrapper .bx-wrapper{
    margin: 0 auto;
  }
  .lec_wrapper .bx-wrapper .bx-viewport{
    height: auto;
  }
  
  .lec_prev .bx-prev{
    background: url(../../images/navi_arrow.png) no-repeat;
    object-fit:fill;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 1100px;
    left: 327px;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 99;
    background-color: white;
    border-radius: 50%;
  }
  .lec_next .bx-next{
    background: url(../../images/navi_arrow.png) no-repeat;
    object-fit:fill;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    transform: rotate(180deg);
    top: 1100px;
    right: 327px;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 99;
    background-color: white;
    border-radius: 50%;
 
  } 

  
  /* 공지사항 - 송림 */
  .main_notice {
    position: relative;
  }
  .main_notice h2 {
    padding-top: 80px;
    text-align: center;
  }
  .notice a {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: var(--body-sl);
  }
  .notice {
    gap: 35px;
    padding: 60px 360px 80px;
  }
  .notice_table {
    gap: 55px;
  }
  .notice .notice_tit {
    width: 222px;
  }
  .notice .notice_ct {
    width: 750px;
  }
  .notice_table {
    width: 1200px;
    height: 100px;
    border: 1px solid #777;
    border-radius: 20px;
    justify-content: space-between;
    padding: 0 40px;
  }
  .bx-wrapper {
    position: relative;
  }
  .main_notice .controls .bx-prev{
    background: url(../../images/navi_arrow.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 95px;
    right: 425px;
    text-indent: -9999px;
    cursor: pointer;
    transition: 0.3s;
  }
  .main_notice .controls .bx-next{
    background: url(../../images/navi_arrow.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    transform: rotate(180deg);
    top: 95px;
    right: 376px;
    text-indent: -9999px;
    cursor: pointer;
    transition: 0.3s;
  }
  .main_notice .controls .bx-prev:hover,
  .main_notice .controls .bx-next:hover {
    background-image: url(../../images/navi_arrow_active.png);
    transform: rotate(180deg);
  }
  .main_notice .controls .bx-next:hover {
    transform: rotate(0);
  }
  
  /************* 공지사항 - 송림 */
  
  /* 수강평 - 다영 */
  .main_review {
    position:relative;
    width: 100%;
    height: 780px;
    margin-top:141px;
    background:#EFEFEF;
  }
  .main_review .usergrid {
    width:1200px;
    margin:0 auto;
    padding: 140px 0;
  }
  .main_review .usergrid h2 {
    position:absolute;
    width: 100%;
    top:-100px;
    left:50%;
    transform: translate(-25%);
    font-size: 140px;
  }
  .main_review .usergrid > a {
    display: block;
    width:183px;
    background-color: transparent;
    margin: 60px auto;
    color: var(--C-black, #000);
    border: 1px solid var(--C-black, #000);
  }
  .main_review .usergrid > a:hover {
    background:var(--C-black, #000);
    color: var(--C-white, #fff);
  }
  .main_review .usergrid .bx-wrapper {
    background: transparent;
  }
  .u_profile {
    width: 370px;
    padding:30px;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--C-white, #fff);
  }
  .u_profile img {
    width: 114px;
    height: 114px;
  }
  .u_profile .main_review_img {
    margin-bottom: 38px;
    padding-bottom: 38px;
    align-items: center;
    gap:45px;
    border-bottom: 1px solid #000;
  }
  .main_review_txt {
    flex-direction: column;
    align-items: center;
    gap:50px;
  }
  .u_profile button {
    display: block;
    margin: 0 auto;
  }
  
  /*********** 수강평 - 다영 */
  
  /* 이벤트 - 다영 */
  .main_event { margin:50px 0;}
  .user_e_title {
    position: relative;
    width: 100%;
    height: 425px;
    padding: 50px 0;
    box-sizing: border-box;
  }
  .user_e_title .body2b {
    width: 90%;
  }
  .user_e_link {
    position:relative;
    color: var(--C-primary, #14C4BE);
    padding-right:10px;
  }
  .user_e_link::after {
    content: '';
    position:absolute;
    width:1px;
    height:10px;
    top:1px;
    right: 0px;
    background:var(--C-primary, #14C4BE);
    transform: rotate(-45deg);
  }
  .user_e_link::before {
    content: '';
    position:absolute;  
    width:1px;
    height:10px;
    bottom:2px;
    right: 0px;
    background:var(--C-primary, #14C4BE);
    transform: rotate(45deg);
  }
  .user_e_link:hover {
    text-decoration: underline;
  }
  .slider_next .bx-next{
    display: block;
    position:absolute;
    background: url(../../images/user_event_navigation.svg) no-repeat;
    text-indent: -999px;
    width: 60px;
    height: 60px;
    bottom: 0px;
    right: 70px;
    cursor: pointer;
  }
  .user_e_slide li {
    border-radius: 8px;
    transition:0.5s all;
  }
  .user_e_slide li:hover {
    transform:translateY(-20px);
  }
  .user_e_slide li:hover a {
    box-shadow:5px 5px 10px rgba(0,0,0,.15);
  }
  .user_e_slide li a {
    display: block;
  }
  .user_e_slide p {
    padding: 23px 10px;
  }
  .user_e_slide p:hover {
    text-decoration: underline;
  }
  .user_e_slide img {
    width: 330px;
    height: 352px;
    object-fit: cover;
  }
  
  /*********** 이벤트 - 다영 */
  
  /*back to top - 선진 */
  .back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: var(--C-primary);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  .back-to-top.qna{
    background-color: var(--C-secondary);
    bottom: 98px;
    padding:0;
    text-align: center;

  }
  .back-to-top.qna span{
    font-size: 24px;
    line-height: 70px;
    text-align: center;
    vertical-align: inherit;
  }
  .back-to-top span{
    font-size: 50px;
    color: #fff;
  }
  /************* back to top - 선진 */