@charset "utf-8";

input[type=text].couponC {
	width: 414px;
	background:url('/admin/images/date.png') no-repeat 6px 6px;
	background-size:26px;
	background-position: 280px;
}
.coupon_1 {
	justify-content: center;
	align-items: center;
}
.couponimg {
	margin: 0 auto;
	width: 40%;
}
.coupon_area {
	width: 60%;
	gap: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	box-sizing: border-box;
}
.cDates {
	gap: 68px;
}
.couponC {
	height:40px;
	border-radius: 6px;
}
.coupon_2 {
	justify-content: space-between;
}
