body {
  padding: 0;
}
.login_wrap {
  width: 500px;
  margin: 0 auto;
  padding-top: 217px;
}
.login_logo {
  background: url(../images/admin_login_logo.png) no-repeat 50% 50%;
  width: 300px;
  height: 150px;
  margin: auto auto;
  margin-bottom: 70px;
}
.login {
  width: 500px;
  height: 60px;
}
.login:nth-of-type(2){
  margin-bottom: 20px;
}
.login_btn {
  width: 500px;
  padding: 14px 30px;
}



/* 팝업창 */
.hide {
  display: none;
  opacity: 0;
}
.popup {
  position: absolute;
  left: 250px;
  top: 60px;
  width: 520px;
  border: 8px solid var(--C-primary);
  box-sizing: border-box;
  background: var(--C-white);
  z-index: 100;
  padding: 30px 40px;
}
.popup hr {
  border: 1px solid var(--C-primary);
  opacity: 1;
}
.pop_up_img {
  display: block;
  margin: 0 auto;
  width: 416px;
  padding-bottom: 10px;
}
.pophd strong{
  padding: 10px 0;
  display: block;
}
.popct01 p{
  padding-bottom: 5px;
}
.link{
  gap: 20px;
}
.popct02 p,
.popct02 strong {
  padding-bottom: 5px;
}
.workset_area02 {
  padding-top: 15px;
}
.popft {
  padding-bottom: 40px;
}
.popft p {
  padding-bottom: 5px;
}
.popup_btn {
  position: absolute;
  right: 40px;
  bottom: 20px;
  width: 50px;
}

/********* 팝업창 */