.board_container{
  margin: 60px 3%;
  overflow: hidden;
}

h4 {
  font-size: 32px;
  padding-bottom: 60px;
}
.category{
  font-weight: bold;
}
.title{
  font-size: var();
}
.s_title{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.chart_table{
  margin-bottom: 60px;
}
.body-sl{
  font-size: var( --body-sl);
  line-height: 27px;
  margin-bottom: 27px;
}
.body-sl.chart{
  text-align: left;
}
.myChart1, .myChart2{
margin: 0 auto;
margin-bottom:27px;
height: 300px;
}
.myChart2{
width: 920px;
}
#myChart2{
  height: 300px;
}
.body-sl.chart.l{
  padding-left: 200px;
}
.body-sl.chart p{
  margin-bottom: 20px;
}